/* Bots EDI Translator responsive CSS
 * Author: Ludovic Watteaux
 */

@media (max-width: 1024px) {
    #header {
        flex-direction: unset;
        justify-content: space-between;
        padding: 10px 10px;
        padding-bottom: 1px;
    }
    div#logo {
        height: 3em;
    }
    div#environment {
        left: 37.5em;
    }
    #bots-nav a:after {
        content: '';
    }
/*
    #bots-nav li:hover > a.after-title:after {
        content: attr(title);
    }
*/
    .ico-home:before {
        content: var(--ico-house);
    }
    input, textarea, select, .form-row p, form .button {
        font-size: 0.6rem;
    }
    div.breadcrumbs {
        padding-top: 0.4em;
        padding-bottom: 0.2em;
        padding-left: 10px;
    }

    /* Sticky > relative */
    table#botstable thead tr:nth-child(2) th {
        position: relative;
        top: unset;
        z-index: 9;
    }

    /* Admin change form */
    fieldset.module.aligned > h2,
    :not(.inline-related) .collapse summary {
        top: 11.5em;
    }
    .popup fieldset.module.aligned > h2,
    .popup :not(.inline-related) .collapse summary {
        top: 8em;
    }

    /* Admin add form */
    .change-form h1 + #content-main fieldset.module.aligned > h2,
    .change-form h1 + #content-main .collapse summary {
        top: 9.8em;
    }
    .popup.change-form h1 + #content-main fieldset.module.aligned > h2,
    .popup.change-form h1 + #content-main .collapse summary {
        top: 6.2em;
    }
}

@media (max-width: 800px) {

    .now,
    #user-tools {
        display: none;
    }

    /* Sticky > relative */
    fieldset.module.aligned > h2,
    .collapse summary,
    .change-form .submit-row,
    .object-tools,
    .action-top,
    .bots .action-top,
    .bots label.action-top {
        position: relative;
        top: unset  !important;
    }
}
